@import "tailwindcss";

@keyframes progress {
  0% { width: 0%; opacity: 1; }
  80% { width: 90%; opacity: 1; }
  100% { width: 100%; opacity: 0; }
}

@utility animate-progress {
  animation: progress 2s ease-out forwards;
}
